@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


.container {
    margin: 0 auto;
    // position: absolute;
    margin-top: 8vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    overflow: hidden;
    // border: 2px solid black;

    .pattern-img{
        position: absolute;
        // top: 10px;
        bottom: -22%;
        z-index: 9;
        width: 100%;
        height: 160px;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='rgb(139, 101, 219)' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
    
}
.main_line {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Alfa Slab One", cursive;
    letter-spacing: 0.2rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    color: #242424;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px black;

    &:hover{
        color: #FFCD6D; 
        -webkit-text-stroke: 1px rgb(36, 36, 36);
        transition: all 0.4s ease;
    }


    .span-1, .span-2 {
        font-family: "Alfa Slab One", cursive;
        letter-spacing: 0.2rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        line-height: 1.4;

        &:hover{
            mix-blend-mode: difference;
            color: black;
        }
    }

 

    
}

.sub-heading{
    font-size: 16px;
    // font-weight: 600;
    margin-bottom: 5px;
    color: #242424;
}

.desc {
    font-size: 16px;
    font-weight: 400;
    color: #242424;
    // margin-bottom: 2rem;
    text-align: center;
    line-height: 1.5;
    z-index: 99;
}

.button_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 5em;
    margin-bottom: -2.2rem;
    z-index: 99;

.download-btn{
    // width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 12px;
    background-color: rgb(255,205,109);
    color: #202020;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid rgb(255,205,109);
    &:hover{
        background-color: #242424;
        color: #f0c371;
        border: 2px solid #242424;
        transition: all 0.3s ease;
    }

}

.my-work-btn{
    // width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 12px;
    // background-color: #eebe66;
    color: #202020;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 3px solid #181818;
    &:hover{
        background-color: rgb(36, 36, 36);
        color: #f0c371;
        border: 3px solid #242424;
        transition: all 0.3s ease;
    }

}


}


